name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

env:
  FORCE_COLOR: 1

jobs:
  release:
    name: Build and release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Get version
        run: 'echo "RELEASE_TAG=v$(jq -r ''.version'' package.json)" >> $GITHUB_ENV'

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v5
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run e2e tests
        run: npm run test:e2e

      - name: Create release if needed
        run: gh release view $RELEASE_TAG || gh release create $RELEASE_TAG

      - name: Add files to release
        run: gh release upload $RELEASE_TAG --clobber release/*.tar.gz

      - name: Update release
        run: gh release edit $RELEASE_TAG --draft=false --latest --prerelease=false --notes-file=release/notes.md

      - name: Trigger Docker release
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.PAT_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/versatiles-org/versatiles-docker/actions/workflows/release.yml/dispatches \
            -d '{"ref":"main","inputs":{"run_jobs":"frontend"}}'
